* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head-container{
    text-align: center;
}
.wrapper {
    display: flex;
    justify-content: center;
}

.player-score-container,
.computer-score-container {
    width: 25%;
}

.result-container {
    width: 50%;
}

.result{
    list-style-type: none;
}